
@{
    ViewData["Title"] = "Index";
}
<section id="Entrance">
    <div class="row">
        <h1>
            All Shoes
        </h1>
    </div>
</section>
<section id="filter">
    <div class="container">
        <a id="filterIcon" href=""><i class="fa-solid fa-filter"></i>Filter</a>
        <div class="row myRow">
            <div class="byTitle col-lg-4 col-md-6 col-sm-12">
                <div class="title">
                    <span>
                        By Title
                    </span>
                </div>
                <form action="">
                    <input class="search" type="search" placeholder="Search for prpduct title"><br><br>
                    <button class="searchSubmitBtn" type="submit">FILTER</button>
                </form>
            </div>
            <div class="byPrice col-lg-4 col-md-6 col-sm-12">
                <div class="title">
                    <span>
                        By Price
                    </span>
                </div>
                <div class="wrapper">
                    <div class="rangeDiv">
                        <div class="slider-track"></div>
                        <form class="d-flex" action="">
                            <button class="priceSubmitBtn" type="submit">FILTER</button>
                            <input type="range" min="0" max="999" value="0" id="slider-1" oninput="slideOne()">
                            <input type="range" min="0" max="999" value="999" id="slider-2"
                                   oninput="slideTwo()">
                        </form>
                    </div>
                </div>
                <div class="values">
                    <span class="priceTxt">Price:</span>
                    <span>£</span>
                    <span id="range1">
                        0
                    </span>

                    <span> &dash; </span>
                    <span>£</span>
                    <span id="range2">
                        100
                    </span>
                </div>
            </div>
            <div class="bySize col-lg-4 col-md-6 col-sm-12">
                <div class="titleSize">
                    <span>
                        By Size
                    </span>
                </div>
                <ul class="sizeUl">
                    <li><a href="#">40 (1)</a></li>
                    <li><a href="">41 (1)</a></li>
                    <li><a href="">42 (1)</a></li>
                    <li><a href="">43 (1)</a></li>
                    <li><a href="">44 (1)</a></li>
                    <li><a href="">45 (1)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>
            <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="image">
                    <a class="mainImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                             alt="">
                        <div class="icons">
                            <a href="" class="whishlist"><i class="bi bi-heart"></i></a>
                            <a href="" class="view"><i class="bi bi-eye"></i></a>
                        </div>

                    </a>
                    <a class="secondImage" href="">
                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                             alt="">
                    </a>
                    <div class="addToCard">
                        <div class="increase-number-decrease">
                            <a class="minus" href="">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            <span id="inputNumber">1</span>
                            <a class="plus" href="">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <a href="" class="toCard">ADD TO CART</a>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name"><a href="">Nike Zoom Pegasus</a></div>
                    <div class="price">£270.00</div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/Js/products.js"></script>
}