
@{
    ViewData["Title"] = "Index";
}

<section id="whishlistEntrance">
    <div class="row whishlistRow">
        <div class="whishlistTxt">
            <span>
                View your wishlist products
            </span>
        </div>
    </div>
</section>
<section id="whishlistEmpty">
    <div class="container whishlistContainer">
        <div class="row whishListEmptyRow">
            <div class="whishlistInfo">
                <p class="whishlistHeartIcon">
                    <i class="bi bi-heart"></i>
                </p>
                <p class="whishlistStatus">
                    WHISHLIST IS EMPTY
                </p>
                <p class="whishlistDesc">
                    You don't have any products in the wishlist yet. <br>
                    You will find a lot of interesting products on our "Shop" page.
                </p>
                <div class="returnToShop">
                    <a class="returnToShopBtn" href="">RETURN TO SHOP</a>
                </div>
            </div>
        </div>
    </div>
</section>

